// PORTFOLIO 1024 px Desktop

@media screen and (min-width: 1024px) {
.portfolio {
      font-family: $secondfont;
      font-size: 4rem; 
      color: #000;
      letter-spacing: 0.2rem;
      // text-shadow: 0 0 0.3rem $text-shadow;
      margin-top: 5rem;
      display: none;
    }

  
  #portfolio {
    width: 1280px ;
    min-height: 700px;
    position: relative;
    background: url(../../build/img/10.jpg) no-repeat;
    overflow: hidden;
    background-size: 100%;
    margin: $center;
    text-align: center;
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-size: cover;
    background-repeat:no-repeat;
    background-position:100% 0;
    box-shadow: 0 10px 10px #98998e;
    z-index: 2000;
 }
}