// Skills 1024 px Desktop

@media screen and (min-width: 1024px) {
.skills {
      font-family: $secondfont;
      font-size: 4rem; 
      color: #fff;
      letter-spacing: 0.2rem;
      margin-top: 5rem;
      display: none;
    }

  
  #skills {
    width: 1280px;
    min-height: 1200px;
    position: relative;
    background: url(../../build/img/bg1.jpg) no-repeat;
    overflow: hidden;
    background-size: 100%;
    margin: $center;
    text-align: center;
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-size: cover;
    background-repeat:no-repeat;
    background-position:100% 0;
    box-shadow: 0 10px 10px #98998e;
    z-index: 4000;
 }

.skill {
  margin-top: 3rem;
  font-family: $secondfont;
  font-size: 1.8rem; 
  color: #fff;
 }

}