@font-face {
  font-family: 'MontSerratRegular';
  src: url('../../../fonts/MontSerrat/montserrat-regular-webfont.woff2') format('woff2'),
  url('../../../fonts/MontSerrat/montserrat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoRegular';
  src: url('../../../fonts/Roboto/roboto-regular-webfont.woff2') format('woff2'),
  url('../../../fonts/Roboto/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'LeagueGothic-Regular';
  src: url('../../fonts/LeagueGothic-Regular.eot');
}

@font-face {
  font-family: 'Georgia Italic';
  src: url('../../fonts/Georgia Italic.ttf');
}